body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  min-width: 768px;
}
figure {
  margin: 0;
}
.cta-button {
  height: 80px;
  width: 246px;
  border: none;
  position: relative;
}
.btn-deco-tl {
  position: absolute;
  border: 10px solid #fff;
  border-right: none;
  border-bottom: none;
  height: 80px;
  width: 80px;
  top: -35px;
  left: -35px;
}
.btn-deco-br {
  position: absolute;
  border: 10px solid #fff;
  border-top: none;
  border-left: none;
  height: 80px;
  width: 80px;
  bottom: -35px;
  right: -35px;
}
.bg-1 {
  background-color: #ffb0a1;
}
.bg-2 {
  background-color: #80beaf;
}
/* HEADER */
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.nav-link {
  margin-right: 38px;
}

/* HERO */
#hero {
  display: flex;
  height: 700px;
}
.hero-info {
  width: 35%;
  background-color: #b3ddd1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.hero-info h2 {
  font-weight: 500;
  width: 370px;
  text-align: center;
}
#hero .cta-button {
  background-color: #fff;
  margin-top: 132px;
}
.cta-button h3 {
  width: 100%;
  margin: 0;
  color: #6a6969;
}
#hero figure {
  width: 65%;
  height: 100%;
  min-width: 768px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#features {
  margin-top: 100px;
}
.card-deco-left {
  position: absolute;
  height: 100%;
  width: 35%;
  border: 10px solid #ff8d72;
  border-right: none;
  top: 0;
  left: 0;
}
.card-deco-right {
  position: absolute;
  height: 100%;
  width: 35%;
  border: 10px solid #6e9f93;
  border-left: none;
  top: 0;
  right: 0;
}

.feature {
  width: 100%;
  padding: 50px;
  display: flex;
  position: relative;
}
.feature-content {
  display: flex;
  width: 100%;
}
.feature figure {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.feature figure img {
  height: 100%;
}
.feature-body {
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 80px;
}
.feature-body h5 {
  margin-top: 40px;
}

footer {
  height: 200px;
  background-color: #d1dce2;
}

@media screen and (max-width: 1359px) {
  /* HERO */
  .hero-info {
    width: 45%;
  }
  #hero figure {
    width: 55%;
  }
  #hero figure img {
    margin-left: 172px;
  }

  /* FEATURES */
}
@media screen and (max-width: 1023px) {
  #hero {
    height: 570px;
  }
  .hero-info {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  #hero figure {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  #hero figure img {
    height: 570px;
  }

  /* FEATURES */
  .feature-body {
    padding: 0 20px;
  }
}
/* @media screen and (max-width: 767px) {
  .card-deco-left,
  .card-deco-right {
    display: none;
  }
  .card-reverse {
    flex-direction: column-reverse;
  }
  figure img {
    height: 100%;
  }
} */
